/* responsive css for sidebar  */

@media (max-width: 768px) {
  .sidebar {
    width: var(--sidebar-collapsed-width);
  }

  .sidebar .logo,
  .sidebar nav ul li a span {
    display: none;
  }

  .main-content {
    margin-left: var(--sidebar-collapsed-width);
  }
}